<div>
  <button mat-button>Click me!</button>
  <button mat-raised-button>Click me 2!</button>
  <button mat-flat-button>Click me 3!</button>
  <button mat-stroked-button>Click me 3!</button>
</div>

<div>
  <button mat-icon-button>CIcon</button>
  <button mat-fab>Fab!</button>
  <button mat-mini-fab>Minifab</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" disableRipple mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>
