<!--Use hidden for conditional badges-->
<div>
  <mat-icon color="primary">upgrade</mat-icon>
</div>

<div>
  <span matBadgeColor="warn" matBadgeSize="large" matBadge="4" matBadgePosition="below before"> Notifications</span>
</div>

<div>
  <span matBadgeOverlap="false" matBadgeColor="warn" matBadgeSize="large" matBadge="4" matBadgePosition="below before">
    Notifications
  </span>
</div>

<div>
  <span matBadge="4" matBadgePosition="below after"> Notifications</span>
</div>

<div>
  <span matBadge="4" matBadgeSize="small" matBadgePosition="above before"> Notifications</span>
</div>
